.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-flow: row wrap;
}

.card > * .textContent > * {
  flex: 1 1 100%;
}

.card:hover,
.card:focus-within {
  outline: 1px solid var(--greyD9);
}

.card:hover h2 a,
.card:focus-within h2 a {
  color: var(--orange);
}

@media all and (min-width: 1024px) {
  .card {
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    padding: 0 40px;
    height: 139px;
    flex-flow: unset;
  }
}
